body {
background: #FFF;
font-size: 12pt;
}
h1 {
font-size: 120%;
}
div#main {
width: 600px;
margin-left: auto;
margin-right: auto;
padding-top: 3em;
}
div.form {
margin: 0.5em;
}
.error-message {
  color: red;
}
div.form {
border-top: solid 1px #BBB;
}

input { font-size: 100%; }
